# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# Secrets
*.pem
*.key
*.env
secrets.yaml

# Python
__pycache__/
*.pyc
.venv/

# OS / editor
.DS_Store
.vscode/
